@{
    ViewData["Title"] = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultado</h2>
<div class="alert alert-info">
    @ViewBag.Mensaje
</div>

<a asp-action="Index" class="btn btn-primary">Volver al listado</a>
